
body
{background-color: #f5f5f7;
width: 100%;
height: 100%;
font-family: "Roboto", sans-serif;
}

header{
    
    height: 100;
    width: 1240px;
    margin:auto;
    
    
}
nav{
    font-size: 20px;
    display: inline-block;
    ul{
        li{
            display: inline;
            list-style: none;
            padding:10px;
            a{
                text-decoration: none;
            color: black}
        }
    }
}
.logo {
    
    color:#5b47d1;
    background-color:#f0edff;
    font-size: 24px;
    padding: 15px;
    margin: 83px;
    text-decoration: none;
}

a {
    color:#1b1b1b;
}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-align: center;
    width:auto;
    height:400px;
    background-image: url("Rectangle\ 7.png");
    
}

.banner > p {font-size: 22px;
}

.news{
    
    padding-bottom: 150px;
    width: 1200px;
    margin:auto;
    .news-card{
       display: inline-block;
       }
    
    
}
    
.news-card {
    background-color: white;
    width:360px;
    height:515px;
    margin:15px;
    }

.card-img-purple{
    height:240px;
    width: 360px;
    background-color: #c7b8ff;
}
.card-img-pink{
    height:240px;
    width: 360px;
    background-color: #ffb8e7;
}
.card-img-blue{
    height:240px;
    width: 360px;
    background-color: #b8cbff;
}
.card-img-green{
    height:240px;
    width: 360px;
    background-color: #c6ffb8;
}
.card-img-orange{
    height:240px;
    width: 360px;
    background-color: #ffd2b8;
}
.card-img-red{
    height:240px;
    width: 360px;
    background-color: #ffb8b8;
}
.card-content{
    padding:19px;
    }
h1{
    font-size: 48px;
}
h2{
    text-align: center;
    font-size: 36px;
}
h3{
    font-size: 22px;
}

.footer{
    background-color: #252424;
    width: 100%;
    .charcho{
        width:1240px;
        margin:auto;
        
    }
    .info{
        display: inline-block;
        width:296px;
        h4{color: white}
        p{color: #a1a1a6}
        
        text-align: left;
        
        }
    .catt{
        display: inline-block;
         h4{color: white}
        p{color: #a1a1a6}
        margin-left: 64px;
        margin-top: 50px;
        ul{
            list-style: none;
                color: #a1a1a6;
                padding: 0;
                margin: 0;
                            
          }
         }

    .contact-us{
        h4{color: white}
        p{color: #a1a1a6}
        a{color: #a1a1a6;
        text-decoration: none;}
        
    }
    .copy-right{
        color: white;
        text-align: center;
        
        background-color: black;
        padding: 25px;
    }
}
 

